{% extends "base.html" %}

{% block content %}
    <div class="list-group">
        <a class="list-group-item active" style="display: inline-block">
        {% if object %}
                Editar Informações do Consultor {{ object.title }}
        {% else %}
                Novo Consultor {{ object.title }}
        {% endif %}
        </a>
        <br>
        <br>
        <form method="post" style="display: inline-block">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Enviar" />
        </form>
    </div>
    
{% endblock %}
