{% extends "base.html" %}

{% block content %}

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <button style="margin-bottom:5px; width:400px;" {% if message.tags %} class="{{ message.tags }} alert alert-success"{% endif %}>{{ message }}</button>
        {% endfor %}
    </div>
    {% endif %}

    <div class="list-group" style="display: inline-block; width: 400px">
        <a class="list-group-item active">Pacientes Solicitantes - Telessaúde</a>
        {% for requester in object_list %}
                <a class="list-group-item"  href="{% url 'requester_update' requester.pk %}">{{ requester.requester_name }}</a>
        {% endfor %}
        <br>
        <a class="btn btn-primary" href="{% url 'requester_create' %}">Novo</a>
    </div>
    
{% endblock %}
