{% extends "base.html" %}

{% block content %}
    <div class="list-group">
        <a class="list-group-item active" style="display: inline-block; width: 400px">
        {% if object %}
                Editar Informações do Solicitante {{ object.title }}
        {% else %}
                Novo Solicitante {{ object.title }}
        {% endif %}
        </a>
        <br>
        <br>
        <form method="post" style="display: inline-block">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="">
                <input class="btn btn-primary" type="submit" value="Enviar" />
            </div>
        </form>
        {% if object %}
            <a class="btn btn-danger" href="{% url 'requester_delete' requester.pk %}">Delete</a>
        {% endif %}
    </div>
    
{% endblock %}
